<div class="topic-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2>Create Interative Topics</h2>
                <p class="mt-4">Topics paints the picture of how a story will start and end. Create captivating topics for your stories</p>
            </div>
            <div class="col-md-7">
                <img src="../../../../assets/topics.jpg" class="img-fluid" alt="Topic Banner Image">
            </div>
        </div>
    </div>
  </div>
