.topic-banner {
  width: 100%;
  margin: auto !important;
  padding: 3em;
  background: transparent;
  color: #5AB41D !important;
}
/* .topic-banner .topic-banner-text {
  width: 100%;
  text-align: center !important;
  margin: 5em auto !important;
  color: #5AB41D !important;
} */
.topic-banner p {
  font-size: 18px;
  color: #5AB41D !important;
}
.topic-banner h2 {
  font-size: 50px;
  font-size: #5AB41D !important;
  font-weight: 300;
  margin-top: 2em;
  text-align: left !important;
}
.topic-banner .topic-banner-img {
  margin: auto !important;
  width: 50% !important;
  position: relative;
}
