<div class="privacy-container">
    <div class="container mt-4">
        <div class="text-left">
            <h4>Introduction</h4>
            <p>AfriHow is an online platform dedicated to make learning accessible and reliable to Africa's growing population. "AfriHow," or "we" or "us" refers to AfriHowTech Solutions in this Privacy Policy. AfriHowTech Solutions is a registrated company with RC 2816558 under Corporate Affairs Commission(CAC) in Nigeria. We have compiled an easy to understand Privacy Policy for you to comprehend on how we use your information. </p>

            <p>We respect and acknowledge the privacy of both our online visitors and registered users and we have taken necessary steps to protect your information. This Privacy Policy applies whenever you create an account, read our content or otherwise have access to any of our other products, services, content on afrihow.com and/or the domains provided by afrihow which are referred to as "Services". The Privacy Policies describes the following:-
            <ol class="mb-4">
                <li>Information we collect, how we collect it, and why</li>
                <li>How we use your Information</li>
                <li>How we share your Information</li>
                <li>Accessing your Information</li>
                <!-- <li>Age Restriction</li> -->
                <li>Changes to our Privacy Policies</li>
            </ol>
            <div class="privacy_info mb-4">
                <h5>1. Information we collect, how we collect it, and why</h5>
                <p></p>
                <div class="mt-2">
                    <h6>1.1 Information You Provide to us</h6>
                    <span>Our visitors</span>
                    <p>You can use our platform even without you being a registered user, but we automatically store information such as your location, browser and system information as cookies for us to offer better services whenever you use our platform.</p>
                    <span>Registration</span>
                    <p>For you to have better experience using our platform, you will have to create an account which will require you to provide data that includes your fullname, email address and a password.</p>
                    <span>Profile</span>
                    <p>After creating an account, you can decide to update your profile by providing an image and a short description about yourself. Having a complete profile helps us and other users of afrihow.com know you better.</p>
                    <span>Subject</span>
                    <p>You are required to create a subject which will enable users on our platform to learn from, this subject may be a business, organization, education institution, etc. You will provide data that includes subject name, description, website url, image and a category. This will enable us understand the subject you are creating.</p>
                    <span>Topic</span>
                    <p>To enable users on our platform to start learning about your subject, you will be required to create a topic which will request for data like topic title, description and tags.</p>
                    <span>Creating Article</span>
                    <p>After going through the process of creating a subject and a topic, you will have to create an article for an already created topic. This article will be shared live on afrihow.com</p>
                </div>
                <div class="clearfix"></div>
                <div class="mt-2">
                    <h6>1.2 How we collect information</h6>
                    <p>Our main method of getting your information is directly from you and we can as well automatically get it through the use of our Services. </p>
                    <span>Information Gotten From You</span>
                    <p>Typically, the information we collect directly from you are from our registration form details and our email subscription lists, profile update form, subject and topic creation form. You decide how much information to share with us in most cases, but not sharing required information may limit your ability to engage in certain activities, such as creating of subject, topic or article on our public platform</p>
                </div>
                <div class="mt-2">
                    <h6>1.3 Why we collect your information</h6>
                    <p>The main reason we collect your information is for you to have better experience using our platform, both for our vistors and registered users.</p>
                    <span>Online Vistors</span>
                    <p>Anytime you visit our platform, we automatically collect your information such as your location, browser and system information for us to serve you better whenever you use our platform.</p>
                    <span>Registered Users</span>
                    <p>For you to have better experience using our platform, you will have to be a registered user. This will enable us to better organize your learning experience, you will be able to subscribe to subjects of your interests, follow topics and read articles in a well organised format. You can as well, share what new to learn about and build your learning network</p>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="privacy_info mb-4">
                <h5>2. How we use your Information</h5>
                <p>You basically have control over the information you provide to us, these are the breakdown of the information you provide to us</p>
                <span>Online Visitors</span>
                <p>We collect information like location, browser and system information. These information gotten are stored as cookies, which will help us present relevant content anytime you visit or use our platform. </p>
                <span>Registered Users</span>
                <p>When you register as a user on our platform, we do not share your information with any third-party. The information gotten from you are use to help foster your learning experience. Information like subject's name, topic's title are used to help enhance users' learning experience on our platform. </p>
                <span>Subjects</span>
                <p>Any subject created on our platform will be displayed both for our registered users and online visitors. This will enable them learn from the created topics and written articles under each created subjects.</p>
                <span>Topics</span>
                <p>Created topics will be displayed both for our registered users and online visitors. All registered users can modify or delete the topics created under any created subject </p>
                <span>Articles</span>
                <p>Every subject created will have a written article under a created topic for both registered users and online visitors to learn. You can modify or delete all written articles.</p>
            </div>
            <div class="clearfix"></div>
            <div class="privacy_info mb-4">
                <h5>3. How we share your Information</h5>
                <p>Presently, we do not run adverts on our platform so we do not share your information with advertisers or any third party. These are the breakdown of how we share your information on our platform </p>
                <span>Online Visitors</span>
                <p>As you visit our platform we do not share your information with anyone, information gotten from you are only known to us.</p>
                <span>Registered Users</span>
                <p>Information gotten from registered users are only shared on our platform. Information like subjects, topics, and articles created are shared on our platform for both our visitors and registered users to use.</p>
                <div></div>
            </div>
            <div class="clearfix"></div>
            <div class="privacy_info mb-4">
                <h5>4. Accessing your Information</h5>

                <span>Online Visitors</span>
                <p>For our online visitors, you do not have access to information gotten from you because they are automatically generated and stored as cookies</p>
                <span>Registered Users</span>
                <p>Anyone that registers on our platform have full access to information they provide to us. Information like profile details, subjects, topics and articles created. This information can be created, modified or removed</p>
                <div></div>
            </div>
            <div class="clearfix"></div>
            <!-- <div class="privacy_info">
                <h5>5. Age Restriction</h5>
                <p>Visitors and registered users are expected not to be below 13 years to use our platform</p>
            </div> -->
            <div class="clearfix"></div>
            <div class="privacy_info">
                <h5>5. Changes to our Privacy Policies</h5>
                <p>Our privacy policies are subject to change with time and will regard our online visitors and registered users to check occasionally for any new update</p>
            </div>
        </div>
    </div>
</div>
