<div class="learning-content">
    <div class="container">
        <div class="learning_col">
            <h3>Getting Started Tips <span class="fa fa-right"></span> </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="learning_img mb-1">
                        <img src="../../../../assets/person_3.jpg" alt="" class="img-fluid">
                    </div>
                    <h4>Creating my first subject</h4>
                    <p>Getting Started by creating your first subject</p>
                </div>
                <div class="col-md-4">
                    <div class="learning_img mb-1">
                        <img src="../../../../assets/person_4.jpg" alt="" class="img-fluid">
                    </div>
                    <h4>Updating your profile details</h4>
                    <p>Getting Started by creating your first subject</p>
                </div>
                <div class="col-md-4">
                  <div class="learning_img mb-1">
                    <img src="../../../../assets/person_5.jpg" alt="" class="img-fluid">
                  </div>
                  <h4>Creating my first subject</h4>
                  <p>Getting Started by creating your first subject</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="learning_col">
            <h3>Sharing & Inviting <span class="fa fa-right"></span> </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="learning_img mb-1">
                        <img src="../../../../assets/person_3.jpg" alt="" class="img-fluid">
                    </div>
                    <h4>Creating my first subject</h4>
                    <p>Getting Started by creating your first subject</p>
                </div>
                <div class="col-md-4">
                    <div class="learning_img mb-1">
                        <img src="../../../../assets/person_4.jpg" alt="" class="img-fluid">
                    </div>
                    <h4>Updating your profile details</h4>
                    <p>Getting Started by creating your first subject</p>
                </div>
                <div class="col-md-4">
                  <div class="learning_img mb-1">
                    <img src="../../../../assets/person_5.jpg" alt="" class="img-fluid">
                  </div>
                  <h4>Creating my first subject</h4>
                  <p>Getting Started by creating your first subject</p>
                </div>
            </div>
        </div>
    </div>
</div>
