<div class="product_section">
  <div class="container mb-3">
    <div class="text-center">
        <h2>Get Started Within Minutes</h2>
        <p></p>
    </div>
    <div class="row tabulation mt-4 ftco-animate">
      <div class="col-md-4">
        <ul class="nav nav-pills nav-fill d-md-flex d-block flex-column">
          <li class="nav-item text-left">
            <a class="nav-link active py-4" data-toggle="tab" href="#services-1"><span class="mr-2">1</span>Create an Account </a>
          </li>
          <li class="nav-item text-left">
            <a class="nav-link py-4" data-toggle="tab" href="#services-2"><span class="mr-2">2</span> Create a Subject</a>
          </li>
          <li class="nav-item text-left">
            <a class="nav-link py-4" data-toggle="tab" href="#services-3"><span class="mr-2">3</span> Write a Topic</a>
          </li>
          <li class="nav-item text-left">
            <a class="nav-link py-4" data-toggle="tab" href="#services-4"><span class="mr-2">4</span> Publish Story</a>
          </li>
          <li class="nav-item text-left">
            <a class="nav-link py-4" data-toggle="tab" href="#services-5"><span class="mr-2">5</span> Share to World </a>
          </li>
          <li class="nav-item text-left">
            <a class="nav-link py-4" data-toggle="tab" href="#services-6"><span class="mr-2">6</span> Invite Others</a>
          </li>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="tab-content">
          <div class="tab-pane container p-0 active" id="services-1">
            <!-- <div class="img img-fluid" style="background-image: url(../../../../assets/learn.jpg);"></div> -->
            <img src="../../../../assets/learn.jpg" class="img-fluid img" alt="">
            <h3><a href="#">Create an Account</a></h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          </div>
          <div class="tab-pane container p-0 fade" id="services-2">
            <img src="../../../../assets/subject.jpg" class="img-fluid img" alt="">
            <h3><a href="#">Business Consulting</a></h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          </div>
          <div class="tab-pane container p-0 fade" id="services-3">
            <img src="../../../../assets/topic.jpg" class="img-fluid img" alt="">
            <h3><a href="#">Business Insurance</a></h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          </div>
          <div class="tab-pane container p-0 fade" id="services-4">
            <div class="img img-fluid" style="background-image: url(images/project-5.jpg);"></div>
            <h3><a href="#">Global Investigation</a></h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          </div>
          <div class="tab-pane container p-0 fade" id="services-5">
            <div class="img img-fluid" style="background-image: url(images/project-6.jpg);"></div>
            <h3><a href="#">Audit &amp; Evaluation</a></h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          </div>
          <div class="tab-pane container p-0 fade" id="services-6">
            <div class="img" style="background-image: url(images/project-1.jpg);"></div>
            <h3><a href="#">Marketing Strategy</a></h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="container mt-9">
    <div class="row mt-5">
      <div class="content-slider">
        <h6>WHY AFRIHOW?</h6>
        <div class="slider">
          <div class="mask">
            <ul>
              <li class="anim1">
                <div class="quote">Learning is continual.</div>
              </li>
              <li class="anim2">
                <div class="quote">Learning never stops.</div>
              </li>
              <li class="anim4">
                <div class="quote">Get Started Now <a href="#" [routerLink]="['/login']">Sign Up Now</a> </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="blog_content">
    <div class="container">
        <div class="text-center">
            <h2>Blog & Insights</h2>
            <p></p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="blog_col">
                    <div class="img">
                        <img src="../../../../assets/img_1.jpg" class="img-fluid" alt="Blog Image">
                    </div>
                    <div class="blog_col_text">
                      <span class="category"></span>
                      <h4>AfriHow release the Masterclass feature</h4>
                    </div>
                    <div class="post-meta align-items-center text-left clearfix mt-2">
                      <figure class="author-figure mb-0 mr-3 float-left"><img src="../../../../assets/person_1.jpg" alt="Image" class="img-fluid"></figure>
                      <span class="d-inline-block mt-1">By <a href="#">Carrol Atkinson</a></span>
                      <span>&nbsp;-&nbsp; July 19, 2019</span>
                    </div>
                    <div class="blog_col_text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="blog_col">
                  <div class="img">
                      <img src="../../../../assets/img_2.jpg" class="img-fluid" alt="Blog Image">
                  </div>
                  <div class="blog_col_text">
                      <span class="category"></span>
                      <h4>AfriHow release the Masterclass feature</h4>
                  </div>
                  <div class="post-meta align-items-center text-left clearfix mt-2">
                    <figure class="author-figure mb-0 mr-3 float-left"><img src="../../../../assets/person_1.jpg" alt="Image" class="img-fluid"></figure>
                    <span class="d-inline-block mt-1">By <a href="#">Carrol Atkinson</a></span>
                    <span>&nbsp;-&nbsp; July 19, 2019</span>
                  </div>
                  <div class="blog_col_text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="blog_col">
                  <div class="img">
                      <img src="../../../../assets/img_3.jpg" class="img-fluid" alt="Blog Image">
                  </div>
                  <div class="blog_col_text">
                    <span class="category"></span>
                    <h4>AfriHow release the Masterclass feature</h4>
                  </div>
                  <div class="post-meta align-items-center text-left clearfix mt-2">
                    <figure class="author-figure mb-0 mr-3 float-left"><img src="../../../../assets/person_1.jpg" alt="Image" class="img-fluid"></figure>
                    <span class="d-inline-block mt-1">By <a href="#">Carrol Atkinson</a></span>
                    <span>&nbsp;-&nbsp; July 19, 2019</span>
                  </div>
                  <div class="blog_col_text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
