footer.footer {
  /* background: rgb(218, 245, 200); */
  background-color: #ffffff;
  margin: auto !important;
  padding: 3em;
}

footer.footer h5 {
  line-height: 3rem;
  font-weight: 500;
}

footer.footer ul.list-unstyled li {
  line-height: 2em;
}

footer small {
  font-size: 16px;
}
