<div class="quote_bar mb-0">
    <div class="container">
        <h2 class="text-center">Digitized Learning for Africa's growing Population</h2>
        <div class="buttons">
            <div class="row">
                <div class="col-md-6 text-right">
                    <a class="btn btn-dark" href="#" role="button">Create Account</a>&nbsp;
                </div>
                <div class="col-md-6 text-left">
                    <a class="btn btn-outline-light" href="#" role="button">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
