p {
  font-size: 20px;
}
.about_container {
  width: 100%;
  margin: 6em auto;
}
.about_content h2 {
  font-size: 40px !important;
  font-weight: 900;
}
.about_story {
  width: 100%;
  margin: 3em auto;
  background-color: rgb(214, 248, 192) !important;
  padding: 1em;
}

.about_story_text {
  margin: 3em auto !important;
}
.about_story_text h3 {
  font-size: 36px;
}
.about_story_text p {
  line-height: 1.6em;
  margin: 2em auto;
}
.about_content img {
  width: 80% !important;
  margin: auto;
}
.about_tech {
  width: 100%;
  margin: 2em auto;
  padding: 6em;
  background: #f3f1f1 !important;
  text-align: center !important;
}

