<div class="about_container">
    <div class="about_content">
        <div class="container">
          <div class="text-center">
              <h2> Human Capital + Technology = INNOVATION </h2>
          </div>
          <div class="row mt-5">
                <div class="col-md-6">
                    <p>The reason for digital learning in Africa goes here nothing else The reason for digital learning in Africa goes here nothing else
                    The reason for digital learning in Africa goes here nothing else
                    The reason for digital learning in Africa goes here nothing else
                    The reason for digital learning in Africa goes here nothing else
                    The reason for digital learning in Africa goes here nothing else
                    The reason for digital learning in Africa goes here nothing else
                    The reason for digital learning in Africa goes here nothing else
                    The reason for digital learning in Africa goes here nothing else
                  </p>
                </div>
                <div class="col-md-6">
                    <img src="../../../../assets/stats.png" class="img-fluid" alt="Africa Demographic Dividence">
                </div>
          </div>
        </div>
    </div>
    <div class="about_story">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="about_story_text">
                        <h3>How AfriHow was born</h3>
                        <p>We are of the idea that digital learning is fundamental to achieving <i>Digital Economy</i> in Africa, We are of the idea that digital learning is fundamental to achieving <i>Digital Economy</i> in AfricaWe are of the idea that digital learning is fundamental to achieving <i>Digital Economy</i> in AfricaWe are of the idea that digital learning is fundamental to achieving <i>Digital Economy</i> in Africa</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../../../../assets/afrihow.png" class="img-fluid" alt="AfriHow Logo">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="built_for mt-4">
      <div class="container">
          <h2 class="text-center">How it works</h2><br>
          <div class="row mt-3">
              <div class="col-md-4">
                <div class="card shadow-sm" style="">
                  <img class="card-img-top" src="../../../../assets/learn.jpg" alt="Card image cap"><hr>
                  <div class="card-body">
                    <h5 class="card-title">Create Subject</h5>
                    <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" class="card-link">Learn More</a>
                      <!-- <a href="#" class="card-link">Another link</a> -->
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="card shadow-sm">
                    <img class="card-img-top" src="../../../../assets/learn.jpg" alt="Card image cap"><hr>
                    <div class="card-body">
                      <h5 class="card-title">Write Topic</h5>
                      <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a href="#" class="card-link">Learn More</a>
                        <!-- <a href="#" class="card-link">Another link</a> -->
                      </li>
                    </ul>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card shadow-sm" style="">
                    <img class="card-img-top" src="../../../../assets/learn.jpg" alt="Card image cap"><hr>
                    <div class="card-body">
                      <h5 class="card-title">Publish Story</h5>
                      <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a href="#" class="card-link">Learn More</a>
                        <!-- <a href="#" class="card-link">Another link</a> -->
                      </li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="about_tech">
      <div class="container">
          <div class="text-center">
              <h2>Learning rooted on code and design</h2>
              <p>A line of code at a time, we are focused on digitizing learning for the world youngest population.</p>
          </div><br><br>
          <div class="row mt-2">
            <div class="col-md-6">
              <h4>Cross Platform</h4>
              <p></p>
            </div>
            <div class="col-md-6">
              <h4>Powerful APIs</h4>
              <p></p>
            </div>
          </div>
      </div>
    </div>
</div>
