<div class="about_container">
    <div class="about_content">
        <div class="container">
          <div class="row">
                <div class="col-md-6">
                    <h3>Why Digital Learning in Africa</h3>
                    <p>The reason for digital learning in Africa goes here nothing else The reason for digital learning in Africa goes here nothing else
                    The reason for digital learning in Africa goes here nothing else
                    The reason for digital learning in Africa goes here nothing else
                    The reason for digital learning in Africa goes here nothing else
                    The reason for digital learning in Africa goes here nothing else
                    The reason for digital learning in Africa goes here nothing else
                    The reason for digital learning in Africa goes here nothing else
                    The reason for digital learning in Africa goes here nothing else
                  </p>
                </div>
                <div class="col-md-6">
                    <img src="../../../../assets/learn.jpg" class="img-fluid" alt="">
                </div>
          </div>
        </div>
    </div>
    <div class="about_story">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="about_story_text">
                        <h3></h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../../../../assets/logo.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="built_for mt-4">
      <div class="container">
          <h2 class="text-center">How it works</h2>
          <div class="row mt-3">
              <div class="col-md-4">
                <div class="card shadow-sm" style="">
                  <img class="card-img-top" src="../../../../assets/learn.jpg" alt="Card image cap"><hr>
                  <div class="card-body">
                    <h5 class="card-title">Create Subject</h5>
                    <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" class="card-link">Learn More</a>
                      <!-- <a href="#" class="card-link">Another link</a> -->
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="card shadow-sm">
                    <img class="card-img-top" src="../../../../assets/learn.jpg" alt="Card image cap"><hr>
                    <div class="card-body">
                      <h5 class="card-title">Write Topic</h5>
                      <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a href="#" class="card-link">Learn More</a>
                        <!-- <a href="#" class="card-link">Another link</a> -->
                      </li>
                    </ul>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card shadow-sm" style="">
                    <img class="card-img-top" src="../../../../assets/learn.jpg" alt="Card image cap"><hr>
                    <div class="card-body">
                      <h5 class="card-title">Publish Story</h5>
                      <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a href="#" class="card-link">Learn More</a>
                        <!-- <a href="#" class="card-link">Another link</a> -->
                      </li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
