<div class="login-wrapper">
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <div class="login-text">
                <h2>Reset Password</h2>
                <!-- <h4>Register Now</h4> -->
              </div>
          </div>
          <div class="col-md-7">
              <div class="card">
                  <div class="card-body">
                      <div class="login_img">
                          <img src="../../../../assets/afrihow_sm.jpg" class="img-fluid" alt="AfriHow Logo">
                      </div>
                      <!-- <h4 class="text-center">AfriHow</h4> -->
                      <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
                          <div>
                            <input type="email" required class="form-control" formControlName="forgetEmail" placeholder="Email Address">
                          </div>
                          <div class="form-row mt-2">
                              <div class="col-md-6">
                                <button type="submit" [disabled]="getDisableState" class="btn btn-info btn-login">
                                  Reset Password</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
