<div class="terms_container">
    <div class="container mt-4">
      <div class="text-left">
          <h4>Introduction</h4>
          <p>Reverence to our Terms of Use should be mutually coded in our DNA (afrihow.com online visitors and its registered users). In our Terms of Use, you will find that information presented is easy to comprehend. Our Terms of Use explains how we will work together to improve our Services and Offerings, like spam fighting across the web and mobile platforms, creating of subjects, topics, articles and showing relevant content on afrihow.com. </p>

          <p>No information you share on afrihow.com including files and account information, will be shared with other websites and platforms except at your agreement and click. The knowledge and relevant content you have are for you and the general public who wants to learn through our well built self-learning process on afrihow.com. You agree with our Terms of Use by installing, using our services, features and website. Our Terms of Use, describes the following in details:-</p>

          <ol>
              <li>Agreement</li>
              <li>Registration</li>
              <li>Age Restriction</li>
              <li>Change of Information</li>
              <li>Account Security</li>
              <li>Data Compliance</li>
              <li>Devices and Software</li>
              <li>Monitoring</li>
              <li>Trademark License</li>
              <li>Publicity</li>
          </ol>
          <div class="terms_info">
              <h5>1. Agreement</h5>
              <p>Our Terms of Use is an agreement between you and AfriHow. It contains details of our responsibilities to you and it also states certains rules you must abide by, as you use our this website or any of our services</p>
              <div class="clearfix mt-4"></div>
              <h5>2. Registration</h5>
              <p>It is not mandatory for you to sign up to start using our Services, but you will be limited to certain services. To sign up, you must register with all your original, current and relevant data (name, email, password, etc as we may require) whether as an individual or as a corporate body. If you change any of your details with time, update it on our website. Before sharing your information, you will also be required to create subject, write topic, write your articles and upload pictures as the need be.</p>
              <div class="clearfix mt-4"></div>
              <h5>3. Age Restriction</h5>
              <p>You also be 13 years old and above to be eligible to use our services. If you are not old enough and you desire to use our services, your parents or guardian can agree with us on your behalf. </p>
              <div class="clearfix mt-4"></div>
              <h5>4. Change of Information</h5>
              <p>In cases of change in any of your information(fullname, email etc.), you agree to update the changes in your information on our website or any of our services.</p>
              <div class="clearfix mt-4"></div>
              <h5>5. Account Security</h5>
              <p>You agree not to disclose your password details to anyone and to comply with any instructions you will be given regarding account access and security. You also agree that if you share your password details, AfriHow will not be liable to you for any loss or damage.</p>
              <div class="clearfix mt-4"></div>
              <h5>6. Data Compliance</h5>
              <p>You agree to our data practices, including collection, use, processing and sharing of your information in your country, countries of Africa and the other part of the world where we have or use facilities’, service providers, or partners, regardless of where you use our services. You acknowledge the laws and a standard of the country in which your information is stored/processed is different from your own.
              If we disable your account for a violation of our Terms of Use, you will not create another account without our permission.
              You must access and use our Services only for authorized, legal and acceptable purposes. You will use or assist others to use our Services in such a way that will violate, misappropriate, defame, libel you, us or the government. You must not misuse our intellectual property or other proprietary rights, or post materials that postulate hate, political antagonism, tribal debasement, harassment, racial abuse, threats, or ethnically offending. You must not involve in misleading statements, misrepresentations, promotion of crimes, publish of falsehoods, impersonations. You must not harm our Services and company in any particular way. All these are being delineated because we hold morality and integrity in high esteem.</p>
              <h5>7. Devices and Software</h5>
              <p>You must provide or purchase by yourself, computers, phones, internet connections to use our Services, which we don’t provide. For as long as you use our Service, you accede to downloading and installing updates to our services including automatically</p>
              <div class="clearfix mt-4"></div>
              <h5>8. Monitoring</h5>
              <p>Our system is built to monitor your online activities and you agree that we must monitor you logins, sign ups, posts and movements on our site to avoid spamming, hacking etc.</p>
              <div class="clearfix mt-4"></div>
              <h5>9. Trademark License</h5>
              <p>We hereby do not grant you the right to use or transfer AfriHow trademarks used to identify any of our services. You agree that you will not at any time during or after this Agreement decide to do anything that will jeopardize our Trademark or any other trademark, trade name or product, business, organization etc(especially registered users) on AfriHow</p>
              <div class="clearfix mt-4"></div>
              <h5>10. Publicity</h5>
              <p>You hereby grant AfriHow permissions to use your name and logo in our marketing materials including, but not limited to use on our website, in customer listings, in interviews and in press releases. Such Publicity does not imply an endorsement for your products and services</p>
          </div>
      </div>
    </div>
</div>
