.about-banner {
  width: 100%;
  margin: auto;
  padding: 6em;
  background: #5AB41D;
  color: #ffffff;
}
.about-banner .about-banner-text {
  width: 100%;
  text-align: center;
  margin: 5em auto !important;
}
.about-banner .about-banner-text h5 {
  font-size: 16px;
}
.about-banner .about-banner-text h2 {
  font-size: 36px;
}
