<div class="enterprise">
  <div class="container">
    <div class="enterprise_first">
        <div class="row">
            <div class="col-md-6">
              <div class="enterprise_first_col_1">
                <h4>For Your Customers</h4>
                <p>Keep your customers with happenings in your business with insightful stories and updates from time to time.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="enterprise_first_col_2">
                <h4>For Your Team</h4>
                <p>Keep your customers with happenings in your business with insightful stories and updates from time to time.</p>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
