.login-wrapper {
  width: 100%;
  padding: 10em;
  position: relative;
  margin: auto;
  background: rgb(214, 252, 190);
  /* background: url(../../../../assets/login.jpg); */
  /* background-size: cover; */
}
.login-wrapper a {
  font-weight: 700;
  color: #5AB41D;
}
.login-wrapper .login-text h2 {
  font-size: 4em;
}
.login-wrapper .login-text h4 {
  font-size: 2em;
  color: rgb(166, 247, 112) !important;
}
.login_img {
  width: 40%;
  margin: auto;
}
.login_img img {
  width: 100%;
  margin: auto;
}
.login-wrapper .card .card-body form {
  width: 100% !important;
  padding: 2em;
  position: relative;
}
.login-wrapper .card .card-body form input[type="text"]{
  width: 100% !important;
  margin: 1em auto;
  padding: 22px;
}
.login-wrapper .card .card-body form input[type="email"]{
  width: 100% !important;
  margin: 1em auto;
  padding: 22px;
}
.login-wrapper .card .card-body form input[type="password"]{
  width: 100% !important;
  margin: 1em auto;
  padding: 22px;
}
.login-wrapper .card .card-body form button.btn-login{
  background-color: #5AB41D;
  font-weight: 700;
  border: none;
  padding: 9px;
  float: right;
}
.login-wrapper .card .card-body form button.btn-login {
  background-color: #5AB41D;
  font-weight: 700;
  border: none;
  padding: 9px !important;
}
.login-wrapper .card .card-body form button.btn-login:hover {
  background-color: #295508 !important;;
}
