<div class="contact_container">
  <div class="clearfix"></div>
  <div class="built_for mt-4">
    <div class="container">
        <h2 class="text-center">Reach Us with Ease</h2>
        <p class="text-center">Give us a call, shot us an email and visit us we are on had to grant your request.</p>
        <div class="row mt-5">
            <div class="col-md-4">
              <div class="card shadow-sm" style="">
                <!-- <img class="card-img-top" src="../../../../assets/learn.jpg" alt="Card image cap"><hr> -->
                <div class="card-body">
                  <h5 class="card-title">Give a call</h5>
                  <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="#" class="card-link">(+234)9025015566</a>
                    <!-- <a href="#" class="card-link">Another link</a> -->
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm">
                  <!-- <img class="card-img-top" src="../../../../assets/learn.jpg" alt="Card image cap"><hr> -->
                  <div class="card-body">
                    <h5 class="card-title">Shoot an Email</h5>
                    <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" class="card-link">contact@afrihow.com</a>
                      <!-- <a href="#" class="card-link">Another link</a> -->
                    </li>
                  </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm">
                  <!-- <img class="card-img-top" src="../../../../assets/learn.jpg" alt="Card image cap"><hr> -->
                  <div class="card-body">
                    <h5 class="card-title">Join our Whatsapp Group</h5>
                    <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" class="card-link">12, Royal Street, GRA Ikeja, Lagos</a>
                      <!-- <a href="#" class="card-link">Another link</a> -->
                    </li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
  </div>
  <div class="clearfix"></div>
  <!-- <div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="subscriber">
                <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Enter your email">
                    <span class="input-group-btn">
                    <button class="btn" type="submit">Subscribe Now</button>
                    </span>
               </div>
            </div>
        </div>
    </div>
  </div> -->
</div>
