.feature_section {
  background-color: rgb(209, 248, 198) !important;
  margin: 2em auto;
  padding: 3em;
}
.feature_heading {
  width: 100%;
  margin: auto;
}
.feature_heading h2 {
  line-height: 1.3em;
  font-size: 3em;
  margin-bottom: 2em;
}
.feature_heading p {
  margin-bottom: 2em;
}
.feature_container {
  margin: 5em auto;
}
.feature_container .col1 {
  position: relative;
  background: url(../../../../assets/col1.png) no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  border-radius: 5px;
}
.feature_container .col2 {
  position: relative;
  background: url(../../../../assets/col2.png) no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  border-radius: 5px;
}
.feature_container .col3 {
  position: relative;
  background: url(../../../../assets/col.png) no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  border-radius: 9px;
}
.feature_container .feature_text {
  position: relative;
  padding: 12px;
}
.feature_container .feature_row {
  width: 100%;
  position: relative;
}
.feature_container .feature_row .icn_div {
  float: left;
  width: 30%;
}
.feature_container .feature_row .tex {
  width: 70%;
  float: right;
  text-align: left;
}
.feature_container .feature_text p a.btn-link {
  color: #5AB41D !important;
  text-decoration: none !important;
}
.feature_container .feature_text p a:hover {
  color: #295508 !important;
}
