<div class="feature_section">
    <div class="container">
        <!-- Example row of columns -->
        <div class="feature_heading mt-4 text-center"><br>
          <h2>New Approach to Learning</h2>
          <!-- <p>Learning is a process and not a task</p> -->
        </div>
        <div class="feature_container">
          <div class="row">
              <div class="col-md-4">
                <div class="col1">
                  <div class="feature_text">
                    <div class="feature_row">
                      <div class="icn_div">
                        <img src="../../../../assets/subject.png" alt="Subject Icon" class="img-fluid">
                      </div>
                      <div class="tex">
                        <h4 style="margin-top:1em;">Subject</h4>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <p class="p-3">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p class="p-3 text-left"><a class="btn-link" href="#" role="button">Create Subject <span class="fa fa-long-arrow-right"></span></a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col2">
                  <div class="feature_text">
                    <div class="feature_row">
                      <div class="icn_div">
                        <img src="../../../../assets/topic.png" alt="Topic Icon" class="img-fluid">
                      </div>
                      <div class="tex">
                        <h4 class="" style="margin-top:1em;">Topic</h4>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <p class="p-3">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p class="p-3 text-left"><a class="btn-link" href="#" role="button">Create Topic <span class="fa fa-long-arrow-right"></span></a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col3">
                  <div class="feature_text">
                    <div class="feature_row">
                      <div class="icn_div">
                        <img src="../../../../assets/story.png" alt="Story Icon" class="img-fluid">
                      </div>
                      <div class="tex">
                        <h4 class="" style="margin-top:1em;">Story</h4>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <p class="p-3">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p class="p-3 text-left"><a class="btn-link" href="#" role="button">Create Story <span class="fa fa-long-arrow-right"></span></a></p>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div> <!-- /container -->
</div>
