<div class="feature_section">
    <div class="container">
        <!-- Example row of columns -->
        <div class="feature_heading mt-4 text-center"><br>
          <h2>New Approach to Learning</h2>
          <!-- <p>Learning is a process and not a task</p> -->
        </div>
        <div class="feature_container">
          <div @listAnim class="row">
              <div class="col-md-4">
                  <div class="card shadow-sm">
                      <div class="card-body">
                          <div class="row">
                            <div class="icn_div">
                                <img src="../../../../assets/subject.png" alt="Subject Icon" class="img-fluid">
                              </div>
                              <h4 class="" style="margin-top:1em;">Subject</h4>
                          </div>
                          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                          <p class="text-center"><a class="btn btn-secondary" href="#" role="button">Create Subject</a></p>
                      </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="icn_div">
                                    <img src="../../../../assets/topic.png" alt="Subject Icon" class="img-fluid">
                                  </div><br><br><br>
                                  <h4 class="" style="margin-top:1em;">Topic</h4>
                              </div>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p class="text-center"><a class="btn btn-secondary" href="#" role="button">Create Subject</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="icn_div">
                                    <img src="../../../../assets/story.png" alt="Story Icon" class="img-fluid">
                                  </div><br><br><br>
                                  <h4 class="" style="margin-top:1em;">Story</h4>
                              </div>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p class="text-center"><a class="btn btn-secondary" href="#" role="button">Create Subject</a></p>
                        </div>
                    </div>
                </div>
          </div>
        </div>
    </div> <!-- /container -->
</div>
