<div class="faqs_content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>General Questions</h3>
      </div>
      <div class="col-md-9">
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingPartOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    What is AfriHow?
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingPartOne" data-parent="#accordion">
                <div class="card-body">
                  <p><b>AfriHow</b> is an online digital learning platform that is designed and built to making learning easier and accessible to Africa's growing population.</p>

                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingPartTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    I have a complaint or feedback, how do I you contact afrihow?
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingPartTwo" data-parent="#accordion">
                <div class="card-body">
                  <p>Kindly send an email to hello@afrihow.com</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingPartThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed p-1" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How does AfriHow Learning Platform work?
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingPartThree" data-parent="#accordion">
                <div class="card-body p-4">
                  <p>Our MVP feature just helps on just </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingPartFour">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed p-1" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Collapsible Group Item #3
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingPartFour" data-parent="#accordion">
                <div class="card-body p-4">
                 <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingPartFive">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Collapsible Group Item #3
                  </button>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingPartFive" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- subjects -->
    <div class="row" style="margin-top: 6em;">
      <div class="col-md-3">
        <h3>Creating Subjects</h3>
      </div>
      <div class="col-md-9">
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="PartheadingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    What is AfriHow?
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="PartheadingOne" data-parent="#accordion">
                <div class="card-body">
                  <p><b>AfriHow</b> is an online digital learning platform that is designed and built to making learning easier and accessible to Africa's growing population.</p>

                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="PartheadingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    I have a complaint or feedback, how do I you contact afrihow?
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="PartheadingTwo" data-parent="#accordion">
                <div class="card-body">
                  <p>Kindly send an email to hello@afrihow.com</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="PartheadingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed p-1" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How does AfriHow Learning Platform work?
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="PartheadingThree" data-parent="#accordion">
                <div class="card-body p-4">
                  <p>Our MVP feature just helps on just </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="PartheadingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed p-1" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Collapsible Group Item #3
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="PartheadingFour" data-parent="#accordion">
                <div class="card-body p-4">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="PartheadingFive">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Collapsible Group Item #3
                  </button>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="PartheadingFive" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- topics -->
    <div class="row" style="margin-top: 6em;">
      <div class="col-md-3">
        <h3>Writing Topics</h3>
      </div>
      <div class="col-md-9">
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="ParterheadingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    What is AfriHow?
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="ParterheadingOne" data-parent="#accordion">
                <div class="card-body">
                  <p><b>AfriHow</b> is an online digital learning platform that is designed and built to making learning easier and accessible to Africa's growing population.</p>

                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="ParterheadingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    I have a complaint or feedback, how do I you contact afrihow?
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="ParterheadingTwo" data-parent="#accordion">
                <div class="card-body">
                  <p>Kindly send an email to hello@afrihow.com</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="ParterheadingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed p-1" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How does AfriHow Learning Platform work?
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="ParterheadingThree" data-parent="#accordion">
                <div class="card-body p-4">
                  <p>Our MVP feature just helps on just </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="ParterheadingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed p-1" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Collapsible Group Item #3
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="ParterheadingFour" data-parent="#accordion">
                <div class="card-body p-4">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- stories -->
    <div class="row" style="margin-top: 6em;">
      <div class="col-md-3">
        <h3>Publishing Stories</h3>
      </div>
      <div class="col-md-9">
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    What is AfriHow?
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <p><b>AfriHow</b> is an online digital learning platform that is designed and built to making learning easier and accessible to Africa's growing population.</p>

                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    I have a complaint or feedback, how do I you contact afrihow?
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <p>Kindly send an email to hello@afrihow.com</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed p-1" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How does AfriHow Learning Platform work?
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body p-4">
                  <p>Our MVP feature just helps on just </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed p-1" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Collapsible Group Item #3
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body p-4">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
