.contact-banner {
  width: 100%;
  margin: auto;
  padding: 6em;
  background: url(../../../../assets/banner-2.png) no-repeat;
  background-size: cover;
  color: #ffffff;
}
.contact-banner .contact-banner-text {
  width: 100%;
  text-align: center;
  margin: 5em auto !important;
}
.contact-banner .contact-banner-text p {
  font-size: 20px;
  color: #5AB41D !important;
}
.contact-banner .contact-banner-text h2 {
  font-size: 50px;
}


