.contact-banner {
  width: 100%;
  margin: auto;
  padding: 6em;
  background: #5AB41D;
  color: #ffffff;
}
.contact-banner .contact-banner-text {
  width: 100%;
  text-align: center;
  margin: 5em auto !important;
}
.contact-banner .contact-banner-text p {
  font-size: 20px;
}
.contact-banner .contact-banner-text h2 {
  font-size: 50px;
}
