/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
  color: #34680d !important;
}
a.btn:hover {
  color: #ffffff !important;
}
p {
  font-family: 'Lato', sans-serif;
  word-spacing: 2px !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #295508 !important;
}
.header {
  background: #ffffff;
  width: 100%;
  margin: auto;
}
.header nav.navbar{
  width: 100%;
  margin: auto;
}
.header nav.navbar a.navbar-brand {
  color: #5AB41D !important;
}
.header nav.navbar ul.navbar-nav {
  color: #5AB41D !important;
}
.header nav.navbar ul.navbar-nav li.nav-item {
  padding: 12px;
}
.header nav.navbar ul.navbar-nav li.nav-item a.nav-link {
  color: #7bc940 !important;
  font-weight: 600;
}

.header nav.navbar ul.navbar-nav li.nav-item a:hover {
  color: #5AB41D !important;
}


.banner{
  width:100% !important;
  margin: 1em auto;
  position: relative;
  background: #ffffff !important;
}
.jumbotron {
  background-color: #ffffff !important;
}

.banner .jumbotron .update {
  color: #000000;
  border-radius: 30px;
  padding: 3px;
  font-size: 14px;
  font-weight: 600;
}
.banner .jumbotron .banner-text {
  margin: 4em auto !important;
}
.banner .jumbotron .banner-text .update span {
  border-radius: 15px;
  padding: 5px;
  background-color: #529121;
  font-size: 12px;
  position: relative;
  color: #ffffff;
  width: 10%;

}

.banner .jumbotron .banner-text {
  width: 100%;
  text-align: left;
  margin: 1em auto;
}
.banner .jumbotron .banner-text h1 {
  font-size: 45px;
  font-weight: 900 !important;
}
.banner .jumbotron .banner-text p {
  font-size: 18px;
  margin: 5px auto;
  color: #8d8a8a;
}
.banner .jumbotron .banner-text a.btn {
  padding: 10px;
  width: 40%;
  margin: 2em auto;
}

.banner .jumbotron .banner-img {
  margin: auto;
}


.feature_section {
  width:100% !important;
  margin: auto;
  position: relative;
  background: #ffffff !important;
}

.feature_section h2 {
  text-align: center !important;
}
.feature_section .feature_heading {
  text-align: left;
  position: relative;
  width: 100%;
}

.feature_section .feature_heading h3 {
  font-size: 26px;
  font-weight: 900;
}

.feature_section .feature_heading p {
  font-size: 18px;
}


@media screen and (max-width: 480px) {
  body {
    width: 100%;
    padding: 2em;
  }
  .contact-banner {
    padding: 2em;
    width: 100%;
  }
  .contact-banner .contact-banner-text h2 {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 320px) {
  body {
    width: 100%;
    padding: 2em;
  }
  .contact-banner {
    padding: 2em;
    width: 100%;
  }
  .contact-banner .contact-banner-text h2 {
    font-size: 30px !important;
  }
}
