<div class="banner">
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4">
                <div class="banner-text">
                    <div class="update"><span class="btn">NEW</span>&nbsp;&nbsp; Learn in Groups with our Masterclass Study Session</div>
                    <h2>Digital Learning in Africa</h2>
                    <p>Learning made easy and accessible for Africa's growing population. <br>
                    As we strive towards a digital economy, we are working towards digitizing and democratizing learning for Africa's growing population. </p>
                    <p><a class="btn btn-dark" href="#" role="button">Create Account &raquo;</a>&nbsp; &nbsp;<a class="btn btn-outline-secondary" href="#" role="button">Learn More &raquo;</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner-img">
                    <img src="../../../../assets/banner.png" class="img-fluid" alt="Banner Image">
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
